* {
    padding: 0;
    margin: 0
}
.header {
    text-align: center;
    margin-top: 50px;

}

h1 {
    margin-bottom: 50px;
}


.cellInput {
    width: 50px;
    height: 50px;
    font-size: 32px;
    text-align: center;
}
